* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main, body {
    background-color: #fbfaf8;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


main.homepage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: inherit;
}

.solid {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: #5fb49c;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 0px 3px 1px white;
}

.solid:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
}

section.standalone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40476d;
    color: #fbfaf8;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px black;
}

section.standalone.login  input {
    width: 250px;
}

section.standalone .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.standalone .registration-choice a {
    text-decoration: none;
    padding: 20px;
}

section.standalone .registration-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

section.standalone a.reg-login {
    margin: 10px;
}

section.standalone form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

section.standalone form input,
section.standalone form select {
    margin: 5px 0 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border-width: 0px;
}

section.standalone form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

section.standalone.register  {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

section.standalone.register.existing .solid {
    align-self: center;
}

section.standalone.register.new {
    width: 50%;
}

section.standalone.register .greeting {
    align-items: flex-start;
}

section.standalone.register form legend {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

section.standalone.register form label {
    margin-right: 20px;
}

section.standalone.register form input {
    width: 250px;
}

section.standalone.register form button {
    width: fit-content;
    padding: 10px 30px;
}
