* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main, body {
    background-color: #fbfaf8;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


main.homepage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: inherit;
}

.solid {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: #5fb49c;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 0px 3px 1px white;
}

.solid:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
}

section.standalone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40476d;
    color: #fbfaf8;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px black;
}

section.standalone.login  input {
    width: 250px;
}

section.standalone .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.standalone .registration-choice a {
    text-decoration: none;
    padding: 20px;
}

section.standalone .registration-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

section.standalone a.reg-login {
    margin: 10px;
}

section.standalone form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

section.standalone form input,
section.standalone form select {
    margin: 5px 0 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border-width: 0px;
}

section.standalone form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

section.standalone.register  {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

section.standalone.register.existing .solid {
    align-self: center;
}

section.standalone.register.new {
    width: 50%;
}

section.standalone.register .greeting {
    align-items: flex-start;
}

section.standalone.register form legend {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

section.standalone.register form label {
    margin-right: 20px;
}

section.standalone.register form input {
    width: 250px;
}

section.standalone.register form button {
    width: fit-content;
    padding: 10px 30px;
}

/* ----------Dashboard */
main.main-layout {
    position: relative;
    align-items: flex-start;
    background-color: #fbfaf8;
    padding-top: 120px;
    padding-left: 20%;
}

main .left-bar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    width: 17%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    background-color: #5fb49c;
    border-bottom-right-radius: 30px;
}

main .left-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .left-bar ul li.active {
    color: #fbfaf8;
    font-weight: 1000;
    text-decoration: underline;
}

main .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 20px;
}

main .top-bar .greeting h1 {
    font-size: 40px;
}

main .overview {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

main .overview div {
    background-color: #5fb49c;
    width: 150px;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

main .overview div h2 {
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

main .overview div .number {
    font-size: 20px;
    font-weight: 500;
}

main.inventory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

main .inventory-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #40476d;
    border-radius: 10px;
    color: #fbfaf8;
    padding: 40px;
    margin-left: 70px;
}

main .inventory-options input,
main .inventory-options select,
main .inventory-options select option {
    width: 250px;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    border: 0px;
    text-align: center;
    outline: none;
}

main .inventory-options input {
    width: 300px;
    text-align: left;
}

main .product-grid {
    margin-top: 50px;
    background-color: #40476d;
    margin-left: 100px;
}

main .product-grid table {
    border-collapse: collapse;
    color: #fbfaf8;
}

main .product-grid td,
main .product-grid th {
    padding: 20px;
    text-align: left;
    border-right: 1px solid #fbfaf8;
    
}
main .product-grid th {
    border-bottom: 1px solid #fbfaf8;
}

main .left-bar .top-bar .overview .number .inventory-options .product-grid {
    font: optional;
}