* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main, body {
    background-color: #fbfaf8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%;
}


main.homepage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: inherit;
}

.solid {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: #5fb49c;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 1px 3px 1px white;
    cursor: pointer;
    color: #fbfaf8;
    outline: none;
}

.solid:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: wheat; */
    backdrop-filter: blur(5px);
}

.dialog-box .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #40476d;
    color: #fbfaf8;
    width: 350px;
    height: 250px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 1px 10px 1px black;
    border-radius: 15px;
    padding: 10px;
}

.dialog-box .box .solid {
    backdrop-filter: blur(50px);
    color: white;
    margin: 20px;
}

.dialog-box p {
    font-size: 18px;
    text-align: center;
    font-weight: 1000;
}

.dialog-box .box .solid.cancel {
    background-color: red;
}

.dialog-box.active {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 998;
    backdrop-filter: blur(5px);
}

.modal .box {
    padding: 30px;
    min-width: 40vw;
    min-height: 60vh;
    background-color: #40476d;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.modal .box h1 {
    margin-bottom: 20px;
}

.modal .box input,
.modal .box select {
    padding: 5px;
    width: 250px;
    outline: none;
    border-width: 0px;
    margin: 10px 5px;
    border-radius: 5px;
}

.modal .box select {
    max-width: 250px;
    text-align: center;
}

.modal .box form {
    display: flex;
    flex-direction: column;
    align-items: start;    
    width: 100%;
}

.modal .box label {
    margin-left: 50px;
}

.modal .box button[type="submit"] {
    align-self: center;
    color: white;
}

.modal .box .solid.cancel {
    background-color: red;
    box-shadow: none;
    width: 35px;
    height: 35px;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.modal .box h3 {
    font-size: 17px;
}

.modal .box h4 {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
}

.modal .box .view-prod {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.modal.active {
    display: flex;
}

section.standalone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40476d;
    color: #fbfaf8;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 1px 3px 1px #000;
}

section.standalone.login  input {
    width: 250px;
}

section.standalone .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.standalone .registration-choice a {
    text-decoration: none;
    padding: 20px;
}

section.standalone .registration-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

section.standalone a.reg-login {
    margin: 10px;
}

section.standalone form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

section.standalone form input,
section.standalone form select {
    margin: 5px 0 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border-width: 0px;
}

section.standalone form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

section.standalone.register  {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

section.standalone.register.existing .solid {
    align-self: center;
}

section.standalone.register.new {
    width: 50%;
}

section.standalone.register .greeting {
    align-items: flex-start;
}

section.standalone.register form legend {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

section.standalone.register form label {
    margin-right: 20px;
}

section.standalone.register form input {
    width: 250px;
}

section.standalone.register form button {
    width: fit-content;
    padding: 10px 30px;
}

/* ----------Dashboard */
main.main-layout {
    position: relative;
    z-index: 0;
    align-items: flex-start;
    background-color: #fbfaf8;
    margin-top: 50px;
    margin-left: 0%;
    display: flex;

}

main.main-layout .functionality .solid {
    color: #fbfaf8;
    box-shadow: 0px 1px 3px 1px #000;
    outline: none;
}

main .left-bar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    width: 17%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    background-color: #5fb49c;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px #40476d;
    z-index: 10;
}

main .left-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .left-bar ul li a {
    text-decoration: none;
}

main .left-bar ul li.active {
    color: #fbfaf8;
    font-weight: 1000;
    text-decoration: underline;
    cursor: pointer;
}

main .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 20px;
    background-color: #fbfaf8;
}

main .top-bar .greeting h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

main .overview {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /* gap: 100px; */
    width: 100%;
}

main .overview div {
    background-color: #40476d;
    width: 150px;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 1px #000;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

main .overview div:hover {
    transform: translateY(-5px);
}

main .overview div h2 {
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

main.overview div .text {
    font-size: 12px;
}

main .overview div .number {
    font-size: 20px;
    font-weight: 500;
}

main.inventory,
main.counter-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .inventory-options,
main .search-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #40476d;
    border-radius: 10px;
    color: #fbfaf8;
    padding: 40px;
    margin-left: 70px;
    box-shadow: 0px 1px 3px 1px #000;
}

main .search-item {
    align-items: center;
}

main .search-item .paid-exit {
    margin-top: 40px;
}

main .inventory-options .upper-bar {
    display: flex;
    gap: 40px;
    margin: 5px;
    justify-content: flex-end;
}

main .inventory-options .lower-bar {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

main .inventory-options .solid {
    color: white;
    font-size: 15px;
}

main .inventory-options input,
main .inventory-options select,
main .inventory-options select option,
main .search-item .search input {
    width: 250px;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    border: 0px;
    text-align: center;
    outline: none;
}

main .inventory-options input {
    width: 300px;
    text-align: left;
}

main .search-item .search input {
    width: 500px;
    text-align: center;
    font-size: 16px;
}

main .product-grid {
    margin-top: 50px;
    background-color: #40476d;
    margin-left: 100px;
    box-shadow: 0px 1px 3px 1px #000;
    border-radius: 10px;
    overflow: hidden;
}

main .product-grid .solid {
    font-size: small;
    margin: 0;
    color: white;
    margin: 0 5px;
}

main .product-grid table {
    border-collapse: collapse;
    color: #fbfaf8;
}

main .product-grid tbody tr:hover {
    background-color: #676f9c;
    cursor: pointer;
}

main .product-grid td,
main .product-grid th {
    padding: 15px;
    text-align: left;
    border-right: 1px solid #fbfaf8;
    
}
main .product-grid th {
    border-bottom: 1px solid #fbfaf8;
}

main .product-grid thead tr th:last-child,
main .product-grid tbody tr td:last-child {
    border-right: 0px;
}

main .product-grid thead tr th:first-child,
main .product-grid tbody tr td.center {
    text-align: center;
}

main.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 60vw;
}

main.settings .solid {
    box-shadow: 0px 1px 3px 1px #000;
}

main.settings form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.settings form div {
    display: flex;
    justify-content: space-between;
    min-width: 30vw;
    margin-bottom: 20px;
}

main.settings form input,
main.settings form select {
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
    width: 250px;
    border: 2px solid black;
}

main.settings form input:disabled,
main.settings form select:disabled {
    border: 0px;
    color: #333;
}

main.settings form label {
    font-size: 18px;
}

main.reports .solid {
    box-shadow: 0px 1px 3px 1px #000;
}

.charts {
    display: flex;
    margin: 40px 0;
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    min-width: 500px;
    height: 500px;
    padding: 10px;
    cursor: pointer;
    padding: 30px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 0px 5px 1px black;
    margin: 20px;
}

.chart p {
    text-align: center;
}

.chart.bar {
    width: 100%;
}

.chart.pie {
    width: 45px;
}

.chart h1 {
    font-size: 22.5px;
    text-align: center;
}

main .dashboard {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    /* align-items: center; */
}

main.reports {
    align-items: center;
    justify-content: center;
    max-width: 80vw;
}

main.reports .charts {
    justify-content: flex-start;
}

main.settings {
    max-width: 80vw;
}

main .left-bar .top-bar .overview .number .inventory-options .product-grid {
    color: inherit;
}
